<div class="container-2">
    <h1 class="h1-limpio">{{title}}</h1>
<p>Welcome to {{title}}</p>
{{!-- <img src="../images/cinema.jpg" alt="palomitas"> --}}
<button ><a href="/movies">Check the movies!</a></button>
</div>
